data/corona-virus-report/
data/mers-outbreak-dataset-20122019/
data/novel-corona-virus-2019-dataset/
data/2019-coronavirus-dataset-01212020-01262020/
data/ebola-outbreak-20142016-complete-dataset/
data/ebola.csv
data/Pandemic (H1N1) 2009.csv
data/sars_2003_complete_dataset_clean